<h1>Record Store Management</h1>

<br/>

<div class="separate-in-albums">
  <img id="index-image" src="shelves.jpg"/>

  <div class="separate-albums artist">
    <p>Welcome to Big Al(legra)'s Record Store!</p>
    <p>Here you can check stock and manage your collection.</p>
    <p>Current stats: </p>

    <div class="album-total">
      <p>Total number of artists: <%= @number_of_artists %></p>

      <p>Total number of albums: <%= @number_of_albums %></p>
      <p>Total stock: <%= @all_stock %></p>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>