<h1>Record Store</h1>

<div class="separate_in_albums">
<img class="index-image" src="shelves.jpg"/>

  <div class="separate_albums artist">
  <p>Welcome to Big Al(legra)'s Record Store!</p>

  <p>Here you can check stock and manage your collection.</p>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>