<!DOCTYPE html>
<html>
<head>
  <title>Music Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
<nav>
  <ul>
    <li>
      <h2><a href='/albums'>All Albums</a></h2>
    </li>
    <li>
      <h2><a href='/artists'>All Artists</a></h2>
    </li>
  </ul>

</nav>
<%= yield %>
</body>
</html>