<!DOCTYPE html>
<html>
<head>
  <title>Music Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css">

  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>

</head>
<body>

  <h2>Music Shop</h2>
<nav>
  <ul>
    <li>
      <h4 class='body_font'><a href='/albums'>All Albums</a></h4>
    </li>
    <li>
      <h4 class='body_font'><a href='/artists'>All Artists</a></h4>
    </li>
  </ul>
</nav>

<%= yield %>
</body>
</html>