h2 {
  font-family: 'Press Start 2P', cursive;
/*  font-family: 'Lobster';*/
  font-size: 70px;
  text-align: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

body {
  background: url(/ep_naturalwhite/ep_naturalwhite.png);
}

p, h4, h3, form, input {
/*  font-family: 'Cabin';*/
  font-family: 'Cardo',
  font-size: 20px;
}

.button {
  background-color: #2a5599;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}