h2 {
  font-family: 'Lobster';
  font-size: 70px;
  text-align: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

body {
  background: url(/cream_dust/cream_dust.png);
}

p, h4, h3, form, input {
  font-family: 'Cabin';
  font-size: 20px;
}
