body {
  background: url(/ep_naturalwhite/ep_naturalwhite.png);
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 5.5%;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  text-align: center;
}

#title {
  text-decoration: none;
  color: black;
}

p, h4, h3, form {
  font-family: 'Cardo';
  font-size: 20px;
}

form {
display: inline-block;
margin-left: 50px;
}


.album-total {
  font-family: 'Cardo';
  font-size: 10px
  margin-left: 50px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.confirmations {
  text-align: center;
}

#artist-name {
  font-size: 30px;
}