h2 {
  font-family: 'Press Start 2P', cursive;
/*  font-family: 'Lobster';*/
  font-size: 60px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 40px;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

body {
  background: url(/ep_naturalwhite/ep_naturalwhite.png);
}

p, h4, h3, form {
/*  font-family: 'Cabin';*/
  font-family: 'Cardo';
  font-size: 20px;
}

form {
display: inline-block;
margin-left: 50px;
}


.album-total {
  font-family: 'Cardo';
  font-size: 10px
  margin-left: 50px;
  text-align: center;
  font-weight: bold;
}

.title {
  text-decoration: none;
  color: black;
}

.confirmations {
  text-align: center;
}