<form method="get" action="/artists/new">
  <input class='button' type="submit" value="New Artist">
</form>

<br/>

<% @artists.each do|artist| %>
<h3><%= artist.name %></h3>

<p class='btn_show_alb'><a href="/artists/<%= artist.id %>">Show Albums</a></p>

<br/>
 

<% end %>
