<br/>
<br/>


<div class="separate_albums">
  <% @artists.each do|artist| %>

  <div class="separate_in_albums">
    <div class="cover">
      <a href="/artists/<%= artist.id %>"><img class="artist-art" src=<%= artist.image_url %>></a>
    </div>

    <div class="artist">
      <h3><%= artist.name %></h3>
    </div>
  </div>

  <br/>
 
  <% end %>
</div>

<p class="album-total">Total number of artists: <%= @number_of_artists %></p>

<br/>
<br/>
<br/>
