<form method="post" action="/artists">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />

  <br/>
  <br/>

  <label for="image_url">Image URL:</label>
  <input id="image_url" type="text" name="image_url" />

  <br/>
  <br/>

  <input type="submit" value="Add Artist" />

</form>