<form method="post" action="/artists/<%= @artist.id %>">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" value="<%= @artist.name %>" />

  <br/>
  <br/>

  <label for="image_url">Image URL:</label>
  <input id="image_url" type="text" name="image_url" value="<%= @artist.image_url %>"/>

  <br/>
  <br/>

  <input type="submit" value="Update Artist" />

</form>